@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Kelly+Slab&display=swap');


/*CSS FOR ALL PAGES*/
/* NAV CSS */

body{
    margin: 0;
    padding: 0px;
}

#navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #5C3537;
    overflow: auto;
    border: black 1px solid;
    margin-top: -5px;   
}

#navbar a:hover {
    background-color: #723d40bf;
}

#navbar a {
    display: inline-block;
    font-family: 'Kelly Slab', Helvetica, sans-serif;
    text-align: center;
    padding: 15px;
    padding-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    border-bottom: black 2.5px solid;
}

/* FOOTER CSS */
footer {
    background-color: #0D213F;
    padding: 15px 15px;
    margin-top: 40px;
    margin-bottom: -2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    color: white;
    font-size: 1em;
}

footer .social img{
    padding-top: 4px;
}



/* HOME PAGE CSS */
#center{
    margin: auto;
}

#banner_img{
    width: 100%;
    margin-bottom: -35px;
}

#jerseys h3{
    font-family: 'Kelly Slab', Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    color: black;
    text-shadow: 2px 2px #5C3537;
}

#jerseys img {
    margin: auto;
    height: 100%;
}

#through, #intro, #newsintro{
    text-align: center;
    font-family: 'Graduate', sans-serif;
}

#intro, #rostertit, #newsintro {
    background-color: #5C3537;
    padding: 50px;
    margin-top: -5px;
    margin-bottom: -5px;
    padding-bottom: 10px;
    z-index: -1;
}

#intro, #newsintro {
    padding: 50px;
}


#infos {
    background-color: #5C3537;
    color: white;
    text-align: center;
    padding: 15px;
    margin: auto;
    z-index: -1;
    font-family: 'Kelly Slab', Helvetica, sans-serif;
}


#through{
    background-color: #0a1f3c;
    color: white;
    padding: 20px;
}

#intro, #rostertit, #newsintro{
    font-size: 45px;
    color: #ffffff;
    font-family: 'Graduate', sans-serif;
}

/*Format all the jerseys in a grid */
#jerseys{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 75px 250px 75px 250px 75px 250px;
}

#d1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

#i1 {
    grid-row: 2/3;
    grid-column: 1/2;
}

#d2 {
    grid-row: 1/2;
    grid-column: 2/3;
}

#i2 {
    grid-row: 2/3;
    grid-column: 2/3;
}

#d3 {
    grid-row: 1/2;
    grid-column: 3/4;
}

#i3 {
    grid-row: 2/3;
    grid-column: 3/4;
}

#d4 {
    grid-row: 3/4;
    grid-column: 1/2;
}

#i4 {
    grid-row: 4/5;
    grid-column: 1/2;
}

#d5 {
    grid-row: 3/4;
    grid-column: 2/3;
}

#i5 {
    grid-row: 4/5;
    grid-column: 2/3;
}

#d6 {
    grid-row: 3/4;
    grid-column: 3/4;
}

#i6 {
    grid-row: 4/5;
    grid-column: 3/4;
}

#d7 {
    grid-row: 5/6;
    grid-column: 1/2;
}

#i7 {
    grid-row: 6/7;
    grid-column: 1/2;
}

#d8 {
    grid-row: 5/6;
    grid-column: 2/3;
}

#i8 {
    grid-row: 6/7;
    grid-column: 2/3;
}

#d9 {
    grid-row: 5/6;
    grid-column: 3/4;
}

#i9 {
    grid-row: 6/7;
    grid-column: 3/4;
}

/* ROSTER CSS */

.on {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr;
    /*border: 5px solid #0D213F;*/
    transition: transform .5s;
    box-shadow: 5px 5px 10px #1d386064;
    width: 100%;
    height: 100%;
}



.on img{
    width: 90%;
    margin-top: auto;
    margin-right: auto;
    padding-top: 20px;
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: -1;
}

.on p{
    font-family: 'Kelly Slab', Helvetica, sans-serif;
    text-align: center;
    margin-left: auto;
    padding-right: 30px;
    padding-bottom: 125px;
    font-size: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
}



.off {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /*border: 5px solid #0D213F;*/
    transition: transform .5s;
    box-shadow: 5px 5px 10px #1d386064;
    width: 100%;
    height: 100%;
}

.off p{
    font-family: 'Kelly Slab', Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    font-size: 15px;
}

.off{
    display: none;
}

.season{
    grid-row: 1/2;
    margin: auto;
}

.career {
    grid-row: 2/3;
    margin: auto;
    margin-bottom: auto;
}

.new {
    grid-row: 1/3;
    margin: auto;
}


b{
    font-size: 20px;
}

b .name{
    font-size: 27px;
}

#jimg{
    width: 85%;
}

#roster_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: auto;
}

#rostertit{
    font-family: 'Graduate', sans-serif;
    text-align: center;
    font-size: 45px;
}

/* NEWS CSS */

#topstory {
    margin: auto;
    text-align: center;
    color: white;
    padding: 18px;
    background-color: #0D213F;
    font-family: 'Kelly Slab', Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
}

#allstories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#story1 {
    grid-column: 1/2;
    margin: auto;
    width: 80%;
}

#story2 {
    grid-column: 1/2;
    margin: auto;
    width: 80%;
}

#story3 {
    grid-column: 1/2;
    margin: auto;
    width: 80%;
}

#allstories img {
    padding-top: 20px;
    width: 100%;
    padding-bottom: 0px;
    text-align: center;
}
.titles{
    text-align: center;
    margin: auto;
    margin-top: -5px;
    text-decoration: none;
    background-color: #0D213F;
    color: white;
    padding: 20px;   
    font-family: 'Kelly Slab', Helvetica, sans-serif; 
}
#allstories a{
    text-decoration: none;
}

#social, #through {
    background-color: #0D213F;
    margin: auto;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: 'Kelly Slab', Helvetica, sans-serif; 
}

.twitter-timeline {
    height: 800px;
    width: 80%;
    margin: auto;
    padding-top: 30px;
}

