#mainimg {
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

.bigpic {
    border: 0;
    padding: 0;
    margin: 0;
    top: 100;
    position: relative;
}


.multpic {
    background-color: rgb(76, 76, 76);
    text-align: center;
    margin: 0;
    border: 0px;
    display: inline-block;
    padding: 0;
    position: relative;
    top: -10px;
}
.circle {
    width: 20%;
    border-radius: 50%;
    border: 8px solid rgb(9, 9, 9);
    padding: 0px;
    margin: 30px;
}